#qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 200px;
    background: white;
    padding: 20px;
}

#qrcode img {
    display: block;
    margin: auto;
}

#qrcode .error {
    color: red;
    font-size: 14px;
    text-align: center;
} 